

/* header*/
header {
    width: screen;
    background-color: #6e2fae;
    color: #eff3f6;
    
}

.header-content{
    width: screen;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    
}


nav{
    margin-inline-start: auto;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.nav-item{
    list-style: none;

    a{
       color: #eff3f6; 
    }
}

/* footer */


/* body */


/* pick if you want to do orientation or screensize media query  */
@media (orientation: landscape) {
    
}

/* media header */

/* media footer */

/* media body */

