@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

*{
    font-family: 'Slackey', sans-serif;
}

/* header*/
header {
    width: screen;
    background-color: #6e2fae;
    color: #eff3f6;
    
}
.header-content{
    width: screen;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}


nav{
    margin-inline-start: auto;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav-item{
    list-style: none;
    padding: 5px;
    border-radius: 5px;
}
.nav-item  a{
    color: #eff3f6; 
    text-decoration: none;
}
.nav-item:hover{
    background-color: #552486;
}

/* footer */
footer{
    background-color: #e6e8ea;
    height: 150px;
    width: 100vw;
    position: fixed;
    bottom: 0;
}

.footer-content{
    width: screen;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* body */

hr{
    display: none;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}
.play-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-page content{
    display: flex;
    flex-direction: column;
    justify-content: start;
}



/* button */

button{
    margin: 10px;
    scale: 125%;
    background-color: #d0acf5;
    border-style: none;
}
button:hover{
    
    color: white;
    background-color: #552486;
}

/* inputs */

.input {
    margin: 5px;
}


.notification-list{
  justify-self: left;
}
/* pet room stuff */

.pet-icon{
    height: 50px;
    width: 50px;
}
.pet-icon.float{
    float: inline-start;
}

.pet-room{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    position: relative;
    width: 75vw;
    height: 500px;
    background-color: #d0acf5;

    /* grid-template-areas: 
    "score" "name-header" "blank"
    "pet" "pet" "pet"
    "buttons" "buttons" "blank"
    ; */
}

.pet-room-name{
    text-align: center;
    padding: 5px;
    grid-row-start: 1;
    grid-column-start: 2;
}

.score-topleft{
    padding: 5px;
    grid-column: 1;
    grid-row: 1;
}

.pet-box{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: center;
}
.pet-sprite{

    scale: 50%;
}

.pet-sprite:hover{
    transform: scale(-1, 1);
}

.pet-room button{
    grid-row-start: 3;
    grid-column: 1;
    background-color: #9563c6;
    border-style: solid;
}

.pet-room button:hover{
    background-color: #552486;
}



/* table */

table, th, td{
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    
}
table{
    width: 75vw;
}
th{
    background-color: #d0acf5;
}


@media (width>700px) {
.nav-menu{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

    
}


