@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

/* header*/
header {
    width: screen;
    background-color: #6e2fae;
    color: #eff3f6;
    
}

.header-content{
    width: screen;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}


nav{
    margin-inline-start: auto;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.nav-item{
    list-style: none;
    padding: 5px;
    border-radius: 5px;
    a{
       color: #eff3f6; 
    }
}

.nav-item:hover{
    background-color: #552486;
}

/* footer */
footer{
    background-color: #e6e8ea;
    height: 150px;
    width: screen;
}
.footer-content{
    width: screen;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


/* body */
hr{
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* button */

button{
    margin: 10px;
    background-color: #d0acf5;
}
button:hover{
    
    color: white;
    background-color: #552486;
}

/* pet room stuff */

.pet-icon{
    height: 50px;
    width: 50px;
}

.pet-room{
    text-align: center;
    position: relative;
   
    background-color: #d0acf5;

}

.pet-sprite{
    scale: 50%;
}

.pet-sprite:hover{
    transform: scale(-1, 1);
}


/* table */

table, th, td{
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    
}

table{
    width: 75vw;
}
th{
    background-color: #d0acf5;
}




/* pick if you want to do orientation or screensize media query  */
@media (orientation: landscape) {

/* media header */

/* media footer */

/* media body */

}