@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

*{
    font-family: 'Slackey', sans-serif;
}

/* header*/
header {
    width: screen;
    background-color: #6e2fae;
    color: #eff3f6;
    
}
.header-content{
    width: screen;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


nav{
    margin-inline-start: auto;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.nav-item{
    list-style: none;
    padding: 5px;
    border-radius: 5px;
}
.nav-item  a{
    color: #eff3f6; 
}
.nav-item:hover{
    background-color: #552486;
}

/* footer */
footer{
    background-color: #e6e8ea;
    height: 150px;
    width: 100vw;
   
}

.footer-content{
    width: screen;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* body */

hr{
    display: none;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* button */

button{
    margin: 10px;
    scale: 125%;
    background-color: #d0acf5;
    border-style: none;
}
button:hover{
    
    color: white;
    background-color: #552486;
}

/* inputs */

.input {
    margin: 5px;
}

/* pet room stuff */

.pet-icon{
    height: 50px;
    width: 50px;
}

.pet-room{
    text-align: center;
    position: relative;
   
    background-color: #d0acf5;
}

.pet-room button{
    background-color: #9563c6;
    border-style: groove;
}

.pet-sprite{
    scale: 50%;
}

.pet-sprite:hover{
    transform: scale(-1, 1);
}


/* table */

table, th, td{
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    
}
table{
    width: 75vw;
}
th{
    background-color: #d0acf5;
}





@media (width<700px) {
    .pet-room{
        width: 75vw;
        height: auto;
    }
}