@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

*{
    font-family: 'Slackey', sans-serif;
}

/* header*/
header {
    width: 100vw;
    background-color: #6e2fae;
    color: #eff3f6;
    
}
.header-content{
    width: screen;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}


nav{
    margin-inline-start: auto;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav-item{
    list-style: none;
    padding: 5px;
    border-radius: 5px;
}
.nav-item  a{
    color: #eff3f6; 
    text-decoration: none;
}
.nav-item:hover{
    background-color: #552486;
}

/* footer */
footer{
    background-color: #e6e8ea;
    height: 150px;
    width: 100vw;
   
    bottom: 0;
}

.footer-content{
    width: screen;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* body */
.body{
    display: flex;
}

hr{
    display: none;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}
.play-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-page-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.Under-room-content{
    text-align: center;
}



/* button */

button{
    margin: 10px;
    scale: 125%;
    background-color: #d0acf5;
    border-style: none;
}
button:hover{
    
    color: white;
    background-color: #552486;
}

/* inputs */

.input {
    margin: 5px;
}


.notification-list{
  justify-self: left;
}

.pet-icon{
    height: 50px;
    width: 50px;
}
.pet-icon.float{
    float: inline-start;
}

/* pet room stuff, grid */

.pet-room{ 
    /* originally scaled for 300px vw */
    margin: 15px;
    width: 250px;
    height: 250px;
    background-color: #d0acf5;

    display: grid;
    grid-template-columns: repeat(3, minmax(20px, 1fr));
    grid-template-rows: repeat(3, minmax(12px, 1fr));
    
    align-items: center;
    padding: 5px;

    /* grid-template-areas: 
    "score" "name-header" "blank"
    "pet" "pet" "pet"
    "buttons" "buttons" "blank"
    ; */
}

.pet-room-name{ /* pet's name label */
    text-align: center;
    padding: 5px;
    grid-row-start: 1;
    grid-column-start: 2;
   
}

.score-topleft{/* score (position not value) */
    padding: 5px;
    grid-column: 1;
    grid-row: 1;
   
}

.pet-box{ /* pet's spirite box */
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: center;
    scale: 25%;
}
/* .pet-sprite{ 
    scale: 25%;
} */

.pet-sprite:hover{ /* placeholder so I feel like you can pet it */
    transform: scale(-1, 1);
}

.room-buttons{ /* grid doesn't like these for some reason */
    grid-row: 3;
    grid-column: 1;
    scale: 75%;
}

.room-but{
    background-color: #9563c6;
    border-style: solid;
}

.pet-room button:hover{
    background-color: #6398c6;
}



/* table */

table, th, td{
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    
}
table{
    width: 75vw;
}
th{
    background-color: #d0acf5;
}

.about-banner{
    background-color: #9563c6;
    width: 75vw;
    height: 50px;
}


@media (width>500px) {
    .pet-room{ 
    /* originally scaled for 300px vw */
    margin: 15px;
    width: 350px;
    height: 250px;
    background-color: #d0acf5;

    display: grid;
    grid-template-columns: repeat(3, minmax(20px, 1fr));
    grid-template-rows: repeat(3, minmax(12px, 1fr));

}


    
}

@media (width>700px) {
.nav-menu{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.pet-room{ 
    /* originally scaled for 300px vw */
    margin: 15px;
    width: 60vw;
    height: 400px;
    background-color: #d0acf5;

    display: grid;
    grid-template-columns: repeat(3, minmax(20px, 1fr));
    grid-template-rows: repeat(3, minmax(12px, 1fr));
    
    align-items: center;
    padding: 5px;

    /* grid-template-areas: 
    "score" "name-header" "blank"
    "pet" "pet" "pet"
    "buttons" "buttons" "blank"
    ; */
}
.room-buttons{
    margin: 5px;
    scale: 100%;
}
.pet-box{
    scale: 35%;
}

    
}


